* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(image/backgroud.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: auto;
}

.box1 {
  width: 100%;
  display: flex;
  padding: 22px 75px;
  justify-content: space-between;
}

.log-btn {
  width: 125px;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(25, 163, 48);
  border: none;
  border-radius: 10px;
  color: #fff;
}

.log-btn:hover {
  background-color: black;
  color: #fff;
  transition: background-color 0.3s ease;
}

/* login page start */
.sign_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.signBox {
  width: 30%;
  border: 1px solid black;
  border-radius: 14px;
  background-color: #263238;
}

.signBox h1 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 25px;
}

.para {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}


.line {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.line1 {
  width: 25vw;
  height: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-sizing: content-box;
  text-align: end;
  font-size: 12px;
  padding-right: 5px;
}
.line2{
  text-decoration: none;
  width: 13vw;
  height: 15px;
  border-radius:8px;
  font-size: 12px;
  font-weight: 700;
  background-color:green;
  color: #151414;
  display: flex;
  justify-content:end;
  padding-right: 5px;
  
}
.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

form input {
  width: 25vw;
  height: 50px;
  margin: 10px 0;
  background-color: #263238;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  padding-left: 10px;
}
form input:focus {
  border: 1px solid rgb(172, 172, 172);
}

::placeholder {
  color: #777;
  font-size: 1.063rem;
}

.Register_btn {
  width: 25vw;
  height: 50px;
  margin: 10px 0;
  background-color: #13611a;
  color: rgba(30, 30, 30, 1);
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
}

.Register_btn:hover {
  background-color: black;
  color: #fff;
  transition: background-color 0.3s ease;
}
.Already {
  display: flex;
  justify-content: center;
}

.Already a {
  text-decoration: none;
  color: #fff;
}

/* drow line start */

.drow-line {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.line-drow {
  width: 11vw;
  height: 1px;
  background-color: #6f6f6f;
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.or {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 19px;
}

/* google with login btn */

.google {
  display: flex;
  justify-content: center;
}

.googlebtn {
  width: 25vw;
  height: 50px;
  background: transparent;
  color: rgba(252, 244, 244, 0.5);
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.85s ease;
  margin-bottom: 20px;
}

.googlebtn i {
  margin: 0 10px;
}

.googlebtn:hover {
  border: 1px solid rgb(251, 249, 249);
  color: #fff;
  transition: background-color 1.2s ease;
}

/* footer start */

.footer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.footer a {
  text-decoration: none;
  text-align: center;
  color: black;
}
